###############################################################################
# Unity
###############################################################################

App/
UWP/

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
Assets/AssetStoreTools*
UserSettings

# Visual Studio cache directory
.vs/

*.csproj
*.sln
.vsconfig